{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-xs">
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

    {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        {% if not app.user %}
            <h1 class="h3 font-weight-normal">Please sign in</h1>
            
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="inputEmail">
                    Email
                </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline form-control" placeholder="Email">
            </div>


            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="inputPassword">
                    Password
                </label>
                <input type="password" name="password" id="inputPassword" autocomplete="current-password" required class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline form-control" placeholder="******************">
                <p class="text-red-500 text-xs italic">Please choose a password.</p>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Sign In
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{{ path('app_forgot_password_request')}}">
                Forgot Password?
            </a>
            </div>

        </form>
        {% endif %}

        <p class="text-center text-gray-500 text-xs">
            &copy;2022 Hachi. All rights reserved.
        </p>
    </div>
</div> 
{% endblock %}
