<style>
    .opacity-hover{
       opacity: 0; 
    }
    .nav-dashboard:hover .opacity-hover{
        opacity: 1;
    }
</style>

<!-- MAIN NAV (TW SIDEBAR) -->
<div class="nav-dashboard w-14 hover:w-60 hover:shadow-md transition-width duration-500 ease-in-out overflow-hidden h-full bg-[#FEBD49] absolute">
      <ul class="ml-3">

        <li class="mt-7">
            <a href="#account" class="flex items-center w-auto">
                <img src="https://www.randomlists.com/img/people/moses.webp" class="rounded-full w-10"/>
                <span class="opacity-hover pl-5">{{ app.user.username }}</span>
            </a>
        </li>
        <li class="mt-7 flex">
            <a href="#projects">
                <i class="fa-solid fa-clipboard-list fa-xl">Projects</i>
                <span class="opacity-hover ml-10">Projects</span>
            </a>
        </li>
        <li class="mt-7 flex">
            <a href="#stats">
                <i class="fa-solid fa-chart-line fa-xl hover:text-green-400"></i>
                <span class="opacity-hover ml-10">Statistics</span>
            </a>
        </li>
        <li class="mt-7 flex">
            <a href="#team" class="flex justify-evenly">
                <i class="fa-solid fa-people-group fa-xl hover:text-blue-400"></i>
                <span class="opacity-hover ml-10">Team</span>
            </a>
        </li>
        <li class="mt-7 flex">
            <a href="#message">
                <span class="flex h-3 w-3">
                    <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-red-600 opacity-75"></span>
                    <i class="fa-solid fa-message fa-xl  hover:text-red-400"></i>
                    <span class="opacity-hover ml-10">Messages</span>
                </span>
            </a>
        </li>

    </ul>

</div>