{% extends 'base.html.twig' %}

{% block title %}Landing{% endblock %}


{% block body %}
{% include 'base/nav.html.twig' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="container flex content-center m-24">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/src/Controller/DashBoardController.php'|file_link(0) }}">src/Controller/DashBoardController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/templates/dash_board/index.html.twig'|file_link(0) }}">templates/dash_board/index.html.twig</a></code></li>
    </ul>
</div>

<div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quibusdam unde reprehenderit provident, magni sint mollitia nam dolor in ratione aspernatur, amet iusto deleniti corporis! Asperiores esse nihil corporis reiciendis dignissimos aspernatur sit, possimus mollitia obcaecati quis sunt unde harum excepturi impedit commodi ut natus vero incidunt sed eum inventore ea deserunt! Cumque totam voluptatem sapiente tempore dolorum, consequatur nisi necessitatibus, sit molestias, mollitia fugiat sunt obcaecati consequuntur. Laborum quibusdam labore, placeat aspernatur voluptate unde illo, itaque incidunt repellendus numquam alias dicta velit odio? Natus laudantium impedit ut facere quae iure sequi voluptate maxime in vel, praesentium iusto labore deleniti!</div>
    <div>Praesentium, quia velit, vero vel rerum, corporis dolores labore hic fugit provident libero. Et placeat nemo, quam, veniam, quos omnis expedita libero cumque eligendi dolorum magni dignissimos quia explicabo earum illo quidem ea debitis ipsa hic in eveniet ab ad. Delectus, voluptatum? Possimus architecto quos officia, porro obcaecati delectus nihil neque? Facere in architecto nemo! Laborum repudiandae non nostrum necessitatibus unde cum eum ducimus facere a praesentium, nemo assumenda libero corrupti consequuntur impedit asperiores? Doloremque itaque reiciendis sint rem sunt, ipsum nostrum vel nulla dolorem nisi illum consectetur inventore nobis officiis tenetur neque at qui alias unde. Iste, ut nostrum.</div>
    <div>Quae at laborum beatae reiciendis unde. Placeat quae harum soluta illo eaque architecto! Vero quas ipsa natus. Molestiae sint placeat corporis quaerat error necessitatibus ipsum dolorem quo quidem, commodi veritatis facilis non eveniet obcaecati odio ullam earum enim dolor excepturi similique aliquid voluptatem minima! Quos amet cum eos molestias sed quasi veritatis, harum quas corporis aperiam consectetur optio porro exercitationem, consequatur nihil ipsam in. Ipsam, ipsum rem explicabo magnam sed voluptatem aliquam ut sequi quia, aspernatur, impedit quisquam atque provident enim beatae perferendis dicta dolores sapiente officiis quaerat numquam veniam. Minima, vitae qui! Sequi debitis vero molestiae inventore odit delectus.</div>
    <div>Debitis dolore officia quia, quae necessitatibus ad ea quaerat nesciunt? Corrupti quidem ratione hic odio ut aliquid eaque consequatur mollitia voluptatem exercitationem recusandae maiores quas minus soluta numquam minima provident culpa sunt nam sint, ipsam voluptates. Fuga ab quam accusantium aspernatur delectus quas blanditiis voluptas dolore minus laboriosam accusamus qui maxime labore minima totam, suscipit, error velit ipsa maiores quos. Commodi sunt alias officiis accusamus numquam dolorum molestias natus nihil quidem itaque asperiores impedit culpa obcaecati id ex, eaque voluptas dicta aut laborum fugit cupiditate officia vel omnis! Quaerat dolor consequatur animi laudantium eum quidem odio nisi. Natus, consequatur error!</div>
    <div>Harum, iusto vel atque, quis dolores illum id tenetur provident recusandae quaerat iure. Adipisci, enim velit facilis rerum sequi alias, assumenda sint ea sapiente nostrum molestias provident officiis quae hic reiciendis commodi, aut voluptatibus earum doloribus. Possimus, atque. Officia reprehenderit quia impedit quisquam saepe. Provident a cupiditate mollitia dolorem, sapiente eligendi dignissimos error! Sapiente cum perspiciatis incidunt non, adipisci eveniet modi tempore commodi consectetur quod facilis laudantium! Error commodi quod, pariatur, culpa a quibusdam ad illo totam ipsum hic dignissimos minima sapiente modi eaque accusantium facilis exercitationem excepturi dolore obcaecati cumque libero labore. Omnis debitis beatae hic necessitatibus ratione. Exercitationem!</div>
</div>

{% include 'base/footer.html.twig' %}
{% endblock %}

