{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    {# {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }} #}


<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="w-full max-w-xs">
    
    {{ form_start(requestForm, { 'attr' : { 'class': "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" } }) }}

        <h1 class="h3 font-weight-normal">Reset your password</h1>
        
        <div class="mb-4">
            {{ form_row(requestForm.email) }}        
        </div>

        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Reset
            </button>
        </div>

        {{ form_end(requestForm) }}

        <p class="text-center text-gray-500 text-xs">
            &copy;2022 Hachi. All rights reserved.
        </p>
    </div>
</div>
{% endblock %}
